In [1]:
import pandas as pd
import json

In [2]:
with open('../data/yelp/ANS2-correct_polar-major_2rest100.json') as f:
    gold = json.load(f)

gold[:2]

[{'sent_id': 'LxMrMDZvwNL7btnuqKYm8g:0',
  'text': 'I agree with the previous review.',
  'opinions': [{'Source': [['I'], ['0:1']],
    'Target': [['review.'], ['26:33']],
    'Polar_expression': [['agree'], ['2:7']],
    'Polarity': 'Positive',
    'Intensity': 'Standard',
    'Target_key': ['review'],
    'Polar_ans': True}],
  'business_id': '_ab50qdWOk0DdB6XOrBitw',
  'review_id': 'LxMrMDZvwNL7btnuqKYm8g',
  'stars': 1.0,
  'user_id': '2ssBdVC1kKKe4wZNDzF5Vw',
  'date': '2016-08-22 19:13:22'},
 {'sent_id': 'LxMrMDZvwNL7btnuqKYm8g:1',
  'text': 'You can definitely find better restaurants in New Orleans.',
  'opinions': [{'Source': [[], []],
    'Target': [['restaurants'], ['31:42']],
    'Polar_expression': [['better'], ['24:30']],
    'Polarity': 'Positive',
    'Intensity': 'Standard',
    'Target_key': ['restaurant'],
    'Polar_ans': True}],
  'business_id': '_ab50qdWOk0DdB6XOrBitw',
  'review_id': 'LxMrMDZvwNL7btnuqKYm8g',
  'stars': 1.0,
  'user_id': '2ssBdVC1kKKe4wZNDzF5Vw',
  'date': '2016-08-22 19:13:22'}]

### Rest1

In [28]:
gold1 = [i for i in gold if i['business_id'] == '_ab50qdWOk0DdB6XOrBitw']
key1 = []

for text in gold1:
    if len(text['opinions']) > 0:
        for op in text['opinions']:
            if len(op['Target_key']) > 0:
                for key in op['Target_key']:
                    if key not in key1:
                        key1.append(key)

len(key1)

95

In [19]:
TRUE_polar_ans1, FALSE_polar_ans1, accur1 = [], [], []
total_opinion1, Pos1, Neg1, TP1, FP1 = [], [], [], [], []
TN1, FN1 = [], []

for k in key1:
    t, f = 0, 0
    opinion, pos, neg, tp, fp = 0, 0, 0, 0, 0

    for g in gold1:
        if (len(g['opinions']) > 0): # non empty 'opinions'
            for o in g['opinions']: # every opinion in 'opinions'
                if (len(o['Target_key']) > 0): # non empty 'Target_key'
                    for tgk in o['Target_key']: # every word in 'Target_key'

                        if tgk == k: 
                            opinion += 1

                            if o['Polarity'] == 'Positive':
                                 pos += 1
                            else: 
                                neg += 1

                            if o['Polar_ans']: # gold ans: True
                                t += 1
                                if o['Polarity'] == 'Positive': 
                                    tp += 1
                            else: # gold ans: False
                                f += 1
                                if o['Polarity'] == 'Positive': 
                                    fp += 1


    total_opinion1.append(opinion)
    TRUE_polar_ans1.append(t)
    FALSE_polar_ans1.append(f)
    accur1.append("%.2f%%" % (100 * t/opinion))
    Pos1.append(pos)
    Neg1.append(neg)
    TP1.append(tp)
    FP1.append(fp)
    TN1.append(t-tp)
    FN1.append(f-fp)

In [26]:
# rest1's stat

df_stat1 = pd.DataFrame({'key': key1, 'total_opinion': total_opinion1, 'TRUE_polar_ans': TRUE_polar_ans1, 'FALSE_polar_ans': FALSE_polar_ans1,
                        'accuracy': accur1, 'TP': TP1, 'TN':  TN1, 'FP': FP1, 'FN': FN1,
                        'Positive': Pos1, 'Negative': Neg1})

df_stat1 = df_stat1.sort_values(['total_opinion'], ascending=False)
df_stat1[df_stat1.total_opinion >= 5]
# df_stat1

,key,total_opinion,TRUE_polar_ans,FALSE_polar_ans,accuracy,TP,TN,FP,FN,Positive,Negative
9,oyster,37,32,5,86.49%,30,2,1,4,31,6
2,food,21,19,2,90.48%,12,7,1,1,13,8
40,place,15,13,2,86.67%,11,2,1,1,12,3
16,service,11,10,1,90.91%,10,0,1,0,11,0
65,staff,8,6,2,75.00%,6,0,0,2,6,2
8,gumbo,8,6,2,75.00%,5,1,0,2,5,3
50,line,6,5,1,83.33%,1,4,0,1,1,5
22,server,6,6,0,100.00%,5,1,0,0,5,1
39,everything,6,4,2,66.67%,4,0,0,2,4,2
5,experience,6,5,1,83.33%,3,2,0,1,3,3
64,chargrilled,5,5,0,100.00%,5,0,0,0,5,0
17,wait,5,3,2,60.00%,2,1,0,2,2,3
3,atmosphere,5,5,0,100.00%,3,2,0,0,3,2

In [27]:
# df to csv
df_stat1.to_csv('../data/yelp/STAT2_polar-major_rest1.csv', index=False)

### Rest2

In [33]:
gold2 = [i for i in gold if i['business_id'] != '_ab50qdWOk0DdB6XOrBitw']
key2 = []

for text in gold2:
    if len(text['opinions']) > 0:
        for op in text['opinions']:
            if len(op['Target_key']) > 0:
                for key in op['Target_key']:
                    if key not in key2:
                        key2.append(key)

len(key2)

117

In [34]:
TRUE_polar_ans2, FALSE_polar_ans2, accur2 = [], [], []
total_opinion2, Pos2, Neg2, TP2, FP2 = [], [], [], [], []
TN2, FN2 = [], []

for k in key2:
    t, f = 0, 0
    opinion, pos, neg, tp, fp = 0, 0, 0, 0, 0

    for g in gold2:
        if (len(g['opinions']) > 0): # non empty 'opinions'
            for o in g['opinions']: # every opinion in 'opinions'
                if (len(o['Target_key']) > 0): # non empty 'Target_key'
                    for tgk in o['Target_key']: # every word in 'Target_key'

                        if tgk == k: 
                            opinion += 1

                            if o['Polarity'] == 'Positive':
                                 pos += 1
                            else: 
                                neg += 1

                            if o['Polar_ans']: # gold ans: True
                                t += 1
                                if o['Polarity'] == 'Positive': 
                                    tp += 1
                            else: # gold ans: False
                                f += 1
                                if o['Polarity'] == 'Positive': 
                                    fp += 1


    total_opinion2.append(opinion)
    TRUE_polar_ans2.append(t)
    FALSE_polar_ans2.append(f)
    accur2.append("%.2f%%" % (100 * t/opinion))
    Pos2.append(pos)
    Neg2.append(neg)
    TP2.append(tp)
    FP2.append(fp)
    TN2.append(t-tp)
    FN2.append(f-fp)

In [35]:
df_stat2 = pd.DataFrame({'key': key2, 'total_opinion': total_opinion2, 'TRUE_polar_ans': TRUE_polar_ans2, 'FALSE_polar_ans': FALSE_polar_ans2,
                        'accuracy': accur2, 'TP': TP2, 'TN':  TN2, 'FP': FP2, 'FN': FN2,
                        'Positive': Pos2, 'Negative': Neg2})

df_stat2 = df_stat2.sort_values(['total_opinion'], ascending=False)
df_stat2
# df_stat2[df_stat2.total_sent > 2]

,key,total_opinion,TRUE_polar_ans,FALSE_polar_ans,accuracy,TP,TN,FP,FN,Positive,Negative
7,food,26,26,0,100.00%,24,2,0,0,24,2
0,place,13,11,2,84.62%,11,0,1,1,12,1
6,service,13,12,1,92.31%,9,3,1,0,10,3
9,staff,10,10,0,100.00%,10,0,0,0,10,0
46,restaurant,9,8,1,88.89%,7,1,1,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...
64,waitor,1,1,0,100.00%,1,0,0,0,1,0
63,ponchatran,1,1,0,100.00%,1,0,0,0,1,0
62,catfish,1,1,0,100.00%,1,0,0,0,1,0
61,location,1,1,0,100.00%,1,0,0,0,1,0
116,boys,1,1,0,100.00%,1,0,0,0,1,0

In [36]:
# df to csv
df_stat2.to_csv('../data/yelp/STAT2_polar-major_rest2.csv', index=False)

In [37]:
# total accuracy

sum_sent1 = sum(total_opinion1)
sum_sent2 = sum(total_opinion2)

sum_T1 = sum(TRUE_polar_ans1)
sum_T2 = sum(TRUE_polar_ans2)

print('Accuracy by target key (total_sent >= 1):')
print('rest1: ' + str(sum_T1) + '/' + str(sum_sent1) + ' = ' "%.2f%%" % (100 * sum_T1/sum_sent1))
print('rest2: ' + str(sum_T2) + '/' + str(sum_sent2) + ' = ' "%.2f%%" % (100 * sum_T2/sum_sent2))
print('total: ' + str(sum_T1+sum_T2) + '/' + str(sum_sent1+sum_sent2) + ' = ' "%.2f%%" % (100 * (sum_T1+sum_T2)/(sum_sent1+sum_sent2)))

Accuracy by target key (total_sent >= 1):
rest1: 224/264 = 84.85%
rest2: 223/257 = 86.77%
total: 447/521 = 85.80%